/* PHASE 0: Sidebar */
.profile-picture a {
  display: block;
  margin-top: -120px;
  position: relative;
}

.profile-picture a {
  border-radius: 3.5%;
  border: 2px solid black;
  z-index: 10;
}

.profile-picture {
  position: relative;
}

.profile-info {
  padding: 10px 0 10px 0;
}

.profile-nav li {
  border-bottom: 1px solid rgb(177, 176, 176);
  font-weight: 700;
  padding: 5px 0;
}

.profile-nav li:hover {
  background-color: rgb(224, 224, 224);
}

.profile-nav ul:first-child {
  border-top: 1px solid rgb(177, 176, 176);
}

.profile-nav ul {
  padding-bottom: 30px;
}